:root {
    font-family: 'Oswald', sans-serif;

}

.menu-painel {
    background: linear-gradient(to top, #ece9e6, #ffffff);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.281);;
    border-radius: 0 0 10px 0;
    bottom: 0;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    position: fixed;
    overflow: auto;
    padding-top: 10rem;
}

.menu-titulo {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem 2rem 1rem;
    text-transform: uppercase;
}

.menu-tarefas {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    padding: 10px 20px;
}

.menu-texto {
    margin: 15px 0px 5px;
}

.menu-input {
    height: 25px;
    border: 1px solid;
    border-radius: 5px;
}

#menu-ccheck {
    margin: 10px;
}

#menu-qcor {
    width: 35px;
}

.menu-botao {
    background: linear-gradient(to right, #eaefff, #e2e2e2);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.384);
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
    margin: 3rem auto;
    width: 200px;
    height: 40px;
}

.menu-botao:hover {
    background: linear-gradient(to right, #dee5fa, #e2e2e2);
    border: 0px solid;
    cursor: pointer;
}

.menu-botao:active {
    background: linear-gradient(to right, #c0c7df, #949494);
}

/* Conteudo */

body {
    background: linear-gradient(to right, #e8edfd, #e2e2e2);
}

.conteudo {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
    padding: 0 2rem;
    height: 100vh;
    align-items: center;
}

.cont-quadro {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 450px;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
}

.titulo-urg {
    background: linear-gradient(to right, #af5454, #a15941);
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.titulo-com {
    background: linear-gradient(to right, #879cc4, #a7bfe8);
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.cont-tarefa {
    border: 1px solid;
    border-radius: 8px;
    width: 75%;
    text-align: center;
    padding: 5px;
    margin: 20px auto;
}

.tarefa-tit {
    font-size: 1.2rem;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    border-style: dotted;
}

.tarefa-desc {
    padding: 5px;
    color: #6d6d6d;
}